mat-card-title {
    color: #F44336;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('src/assets/images/LU-logo.png');
    background-size: cover;
}

.card2 {
    // max-width: 265px !important;
    box-shadow: 5px 10px 18px #888888;
}

.a-link {
    cursor: pointer;
    color: blue !important;
}

.js {
    justify-content: center !important;
}

img.small:hover {
    border: 2px lightblue dashed;
    cursor: pointer;
}

table:hover {
    border: 2px lightblue dashed;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

// .js:last-child {
//     justify-content: start;
// }