<mat-card>
    <mat-card-header>
        <mat-card-title>Completion</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <div class="chart">
            <!-- width="400" height="300" style="max-height:300px" -->
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>


    </mat-card-content>
</mat-card>