<div class="animated slideInLeft">
    <mat-card class="mb-20">

        <mat-card-content>
            <section class="example-section">
                <mat-form-field class="example-margin">
                    <mat-select placeholder="Zone">
                        <mat-option value="option">Option</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-margin">
                    <mat-select placeholder="Region">
                        <mat-option value="option">Option</mat-option>
                    </mat-select>
                </mat-form-field>


            </section>
        </mat-card-content>
    </mat-card>

</div>