table {
    font-size: 15px !important;
}

// table>thead {
//     background: lightgray;
// }
.isEvaluated {
    color: blue;
    font-weight: 500;
    cursor: pointer;
    word-break: break-word;
}

// .table td,
// .table th {
//     padding: 0 !important
// }