.side-image {
    width: 100% !important;
    height: 245px !important;
}

.img-item {
    width: 800% !important;
    height: 600px !important;
}

table {
    font-size: 15px !important;
    line-height: 1px !important
}

.bgColor {
    background: lightgray !important;
}

.table {
    width: 101% !important
}