<!-- shop list  -->
<mat-card class="mb-20" *ngIf="router.url==='/dashboard/shop_list_report' || router.url==='/dashboard/summary_report'">

    <mat-card-content>
        <mat-card-title>
            {{title| uppercase}} <i color="warn" [ngClass]="{'fa fa-cog fa-spin':loadingData}"></i>
        </mat-card-title>
        <section class="example-section">

            <mat-form-field class="example-margin mr-10-IMP">
                <mat-select placeholder="Zone" name='zone' [(ngModel)]="selectedZone" (ngModelChange)="zoneChange()">
                    <mat-option [value]="zone" *ngFor="let zone of zones">{{zone.title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="channels.length>0" class="example-margin mr-10-IMP">
                <mat-select placeholder="Channel" name='channel' [(ngModel)]="selectedChannel">
                    <mat-option [value]="channel" *ngFor="let channel of channels">{{channel.title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="categoryList.length>0" class="example-margin mr-10-IMP" (ngModelChange)="categoryChange()">
                <mat-select placeholder="Category" name='category' [(ngModel)]="selectedCategory">
                    <mat-option [value]="category" *ngFor="let category of categoryList">{{category.title}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="productsList.length>0" class="example-margin mr-10-IMP">
                <mat-select placeholder="product" name='product' [(ngModel)]="selectedProduct">
                    <mat-option [value]="product" *ngFor="let product of productsList">{{product.title}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="regions.length>0" class="example-margin mr-10-IMP">
                <mat-select placeholder="Region" name='region' [(ngModel)]="selectedRegion" (ngModelChange)="regionChange()">
                    <mat-option [value]="region" *ngFor="let region of regions">{{region.title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="areas.length>0" class="example-margin mr-10-IMP">
                <mat-select placeholder="Areas" name='areas' [(ngModel)]="selectedArea">
                    <mat-option [value]="area" *ngFor="let area of areas">{{area.title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="cities.length>0" class="example-margin mr-10-IMP">
                <mat-select placeholder="City" name='city' [(ngModel)]="selectedCity">
                    <mat-option [value]="city" *ngFor="let city of cities">{{city.title}}</mat-option>
                </mat-select>
            </mat-form-field>




        </section>
        <section class="example-section">
            <mat-form-field *ngIf="lastVisit.length>0" class="example-margin mr-5-IMP">
                <mat-select placeholder="Last Visit" name='lastVisit' [(ngModel)]="selectedLastVisit">
                    <mat-option [value]="lv" *ngFor="let lv of lastVisit">{{lv}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="mustHave.length>0" class="example-margin mr-5-IMP">
                <mat-select placeholder="Must Have" name='mustHave' [(ngModel)]="selectedMustHave">
                    <mat-option [value]="m.key" *ngFor="let m of mustHave">{{m.value}}</mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        <section class="example-section">
            <mat-form-field class="example-full-width mr-10-IMP">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker0" [(ngModel)]="startDate" placeholder="Choose a start date" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                <mat-datepicker #picker0></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width mr-10-IMP">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" [(ngModel)]="endDate" placeholder="Choose a end date" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <button *ngIf="router.url==='/dashboard/shop_list_report'" mat-raised-button color="warn" (click)="getOOSShopListReport()">Download</button>
            <button *ngIf="router.url==='/dashboard/summary_report'" mat-raised-button color="warn" (click)="getOOSSummary()">Download</button>

        </section>
    </mat-card-content>
</mat-card>
<!-- /shop list -->
<!-- oss details  -->
<mat-card class="mb-20" *ngIf="router.url==='/dashboard/oos_details_report'">

    <mat-card-content>
        <mat-card-title>
            {{title| uppercase}} <i color="warn" [ngClass]="{'fa fa-cog fa-spin':loadingData}"></i>
        </mat-card-title>
        <section class="example-section">

            <mat-form-field class="example-margin mr-10-IMP">
                <mat-select placeholder="Zone" name='zone' [(ngModel)]="selectedZone" (ngModelChange)="zoneChange()">
                    <mat-option [value]="zone" *ngFor="let zone of zones">{{zone.title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="channels.length>0" class="example-margin mr-10-IMP">
                <mat-select placeholder="Channel" name='channel' [(ngModel)]="selectedChannel">
                    <mat-option [value]="channel" *ngFor="let channel of channels">{{channel.title}}</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field *ngIf="regions.length>0" class="example-margin mr-10-IMP">
                <mat-select placeholder="Region" name='region' [(ngModel)]="selectedRegion" (ngModelChange)="regionChange()">
                    <mat-option [value]="region" *ngFor="let region of regions">{{region.title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="areas.length>0" class="example-margin mr-10-IMP">
                <mat-select placeholder="Areas" name='areas' [(ngModel)]="selectedArea">
                    <mat-option [value]="areas" *ngFor="let area of areas">{{area.title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="cities.length>0" class="example-margin mr-10-IMP">
                <mat-select placeholder="City" name='city' [(ngModel)]="selectedCity">
                    <mat-option [value]="city" *ngFor="let city of cities">{{city.title}}</mat-option>
                </mat-select>
            </mat-form-field>




        </section>
        <!-- <section class="example-section">
            <mat-form-field *ngIf="lastVisit.length>0" class="example-margin mr-5-IMP">
                <mat-select placeholder="Last Visit" name='lastVisit' [(ngModel)]="selectedLastVisit">
                    <mat-option [value]="lv" *ngFor="let lv of lastVisit">{{lv}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="mustHave.length>0" class="example-margin mr-5-IMP">
                <mat-select placeholder="Must Have" name='mustHave' [(ngModel)]="selectedMustHave">
                    <mat-option [value]="m.key" *ngFor="let m of mustHave">{{m.value}}</mat-option>
                </mat-select>
            </mat-form-field>
        </section> -->
        <section class="example-section">
            <mat-form-field class="example-full-width mr-10-IMP">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker0" [(ngModel)]="startDate" placeholder="Choose a start date" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                <mat-datepicker #picker0></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width mr-10-IMP">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" [(ngModel)]="endDate" placeholder="Choose a end date" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button color="warn" (click)="getOOSDetailReport()">Download</button>

        </section>
    </mat-card-content>
</mat-card>
<!-- /oss details -->
<!-- daily visit report -->
<mat-card class="mb-20" *ngIf="router.url==='/dashboard/daily_visit_report'">

    <mat-card-content>
        <mat-card-title>
            {{title| uppercase}} <i color="warn" [ngClass]="{'fa fa-cog fa-spin':loadingData}"></i>
        </mat-card-title>
        <section class="example-section">


            <mat-form-field class="example-margin mr-10-IMP">
                <mat-select placeholder="Zone" name='zone' [(ngModel)]="selectedZone" (ngModelChange)="zoneChange()">
                    <mat-option [value]="zone" *ngFor="let zone of zones">{{zone.title}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="regions.length>0" class="example-margin mr-10-IMP">
                <mat-select placeholder="Region" name='region' [(ngModel)]="selectedRegion" (ngModelChange)="regionChange()">
                    <mat-option [value]="region" *ngFor="let region of regions">{{region.title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width mr-10-IMP">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker0" (ngModelChange)="getMerchandiserList($event)" [(ngModel)]="startDate" placeholder="Choose date to get merchandisers" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                <mat-datepicker #picker0></mat-datepicker>

            </mat-form-field>
            <mat-form-field *ngIf="merchandiserList.length>0" class="example-margin mr-10-IMP">
                <mat-select placeholder="Merchandiser List" name='merchandiserList' [(ngModel)]="selectedMerchandiser">
                    <mat-option [value]="ml" *ngFor="let ml of merchandiserList">{{ml.fullName}}</mat-option>
                </mat-select>
            </mat-form-field>

            <button [disabled]="clickedOnce!=1" *ngIf="selectedZone.id&& selectedRegion.id && selectedMerchandiser.fullName " mat-raised-button color="warn" (click)="downloadDailyReport()">Download Report</button>



        </section>


    </mat-card-content>
</mat-card>

<!-- / daily visit report -->

<!-- merchandiser productivity -->
<mat-card class="mb-20" *ngIf="router.url==='/dashboard/productivity_report'">

    <mat-card-content>
        <mat-card-title>
            {{title| uppercase}} <i color="warn" [ngClass]="{'fa fa-cog fa-spin':loadingData}"></i>
            <small style="color:lightseagreen !important" class="mtb-5-IMP" *ngIf="loadingReportMessage">Please be patient we are compiling report for you</small>

        </mat-card-title>

        <section class="example-section">


            <mat-form-field class="example-margin mr-10-IMP">
                <mat-select placeholder="Zone" name='zone' [(ngModel)]="selectedZone" (ngModelChange)="zoneChange()">
                    <mat-option [value]="zone" *ngFor="let zone of zones">{{zone.title}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="regions.length>0" class="example-margin mr-10-IMP">
                <mat-select placeholder="Region" name='region' [(ngModel)]="selectedRegion" (ngModelChange)="regionChange()">
                    <mat-option [value]="region" *ngFor="let region of regions">{{region.title}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="impactTypeList.length>0" class="example-margin mr-10-IMP">
                <mat-select placeholder="Remove Impact" name='removeImpact' [(ngModel)]="selectedImpactType">
                    <mat-option [value]="impact.key" *ngFor="let impact of impactTypeList">{{impact.value}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width mr-10-IMP">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker0" [(ngModel)]="startDate" placeholder="Choose a start date" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                <mat-datepicker #picker0></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width mr-10-IMP">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" [(ngModel)]="endDate" placeholder="Choose a end date" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>


            <button mat-raised-button color="warn" (click)="MProductivityReport()">Download Report</button>


        </section>


    </mat-card-content>
</mat-card>

<!-- / merchandiser productivity -->