<ng-container *ngIf="merchandiserList.length>0">
    <div class="animated slideInLeft">
        <mat-card class="mb-20">

            <mat-card-content>
                <mat-card-title>
                    {{title| uppercase}} <i color="warn" [ngClass]="{'fa fa-cog fa-spin':loadingData}"></i>
                    <small style="color:lightseagreen !important" class="mtb-5-IMP" *ngIf="loadingReportMessage">Your file is
            being prepared for download</small>

                </mat-card-title>
                <section class="example-section">


                    <mat-form-field class="example-full-width mr-10-IMP">
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker0" [(ngModel)]="startDate" placeholder="Choose a start date" (ngModelChange)="getMerchandiserList(startDate)" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                        <mat-datepicker #picker0></mat-datepicker>
                    </mat-form-field>
                    <!-- <mat-form-field class="example-full-width mr-10-IMP">
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" [(ngModel)]="endDate" placeholder="Choose a end date" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field> -->

                </section>


            </mat-card-content>
        </mat-card>
    </div>

    <div class="animated slideInLeft">
        <mat-card class="mb-20">

            <mat-card-content>

                <section class="example-section">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>

                        </div>
                    </div>

                    <table class="table table-bordered">

                        <thead style="background:lightgray">
                            <tr>
                                <th (click)="sortIt('m_code')" style="cursor: pointer">VO Code
                                    <i class="material-icons arrow material-icons-arrow">
                    {{getArrowType('m_code')}}
                  </i>
                                </th>
                                <th>VO Name</th>
                                <th>Supervisor code</th>
                                <th>Supervisor Name</th>
                            </tr>
                        </thead>

                        <tbody *ngIf="merchandiserList.length>0">
                            <tr *ngFor="let item of merchandiserList | orderBy: sortBy : sortOrder | paginate: { itemsPerPage: 15, currentPage: p }" style="color:blue;cursor:pointer" [routerLink]="['/dashboard/evaluation/list']" [queryParams]="{ surveyorId: item.id,startDate: modifyDate(startDate),endDate: modifyDate(startDate)}">
                                <td>{{item.m_code}}</td>
                                <td> {{item.full_name}}</td>
                                <td>{{item?.supervisor_code}}</td>
                                <td>{{item?.supervisor_name}}</td>
                            </tr>
                        </tbody>
                    </table>

                </section>



            </mat-card-content>
        </mat-card>
    </div>
</ng-container>
<div class="row " *ngIf="loading">
    <div class="col-md-12 text-center">
        <div class="img-center">
            <img src="assets/images/basicloader.gif" alt="" srcset="">
        </div>
    </div>
</div>

<div class="row " *ngIf="!loading && merchandiserList.length==0">
    <div class="col-md-12 text-center">

        <div class="alert alert-info">
            <p>No Data Found</p>
        </div>
        <!-- <div class="img-center">
            <img src="assets/images/basicloader.gif" alt="" srcset="">
        </div> -->
    </div>
</div>