<mat-card [ngClass]="bgClass">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon class="icon-lg">{{icon}}</mat-icon>
        </div>
        <mat-card-title>{{count}}
            <span *ngIf="label=='Completion' || label=='Successful'" style=" font-size: 30px; margin-left: -10px;">%</span>
        </mat-card-title>
        <mat-card-subtitle>{{label}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <mat-card-actions>
        <a routerLink="/dashboard/productivity_report" class="float-right card-inverse">
            productivity report 
        </a>
    </mat-card-actions> -->
</mat-card>