.img-item {
    height: 500px !important;
    width: 90% !important;
}

table {
    font-size: 15px !important;
    line-height: 0px !important
}

.title {
    background: lightgreen;
    color: black;
    margin-bottom: 0;
    width: 90%;
}

table>thead {
    background: lightgray !important;
}