.selectedGroups {
    width: 100%;
    min-height: 150px;
    border: 1pt solid lightgray;
    margin: 5px;
}

.btn {
    margin: 5px;
}

.textArea {
    width: 100% !important;
    margin: 5px;
}

textarea {
    width: 100%;
}