<div class="container-fluid">
    <div class="row">
        <div class="selectedGroups">
            <button class="btn btn-default">
        Production
        &nbsp;
        &times;
      </button>

            <button class="btn btn-default">
        Evaluation
        &nbsp;
        &times;
      </button>

            <button class="btn btn-default">
        Automation
        &nbsp;
        &times;
      </button>

        </div>
        <div class="textArea ">

            <textarea name="message" id="message" placeholder="Enter message here..." cols="30" rows="10"></textarea>

        </div>


    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- callender place -->
        </div>
        <div class="col-md-6">
            <div class="example-section" style="text-align: end">
                <button title="Send Message" mat-raised-button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="profile">

      <i class="material-icons">
        textsms
      </i>
    </button>
                <mat-menu #profile="matMenu">

                    <button mat-menu-item>

        <mat-icon>near_me</mat-icon>

        <span>immediately </span>
      </button>
                    <button mat-menu-item>

        <mat-icon>access_time</mat-icon>

        <span>Send latter </span>
      </button>





                </mat-menu>
            </div>
        </div>
    </div>

</div>