<mat-toolbar class="fix-nav" class="bg-white border-bottom">
  <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="nav-brand mt10 ">
    <img src="{{main_logo}}" height="60">
  </div>
  <form class="hidden-sm" style="margin-left: 20px; margin-top: 5px">

  </form>
  <span class="nav-spacer"></span>

  <span class="text-primary">{{userName}}</span>

  <button *ngIf="userName && showButton" class="hidden-sm" mat-icon-button [matMenuTriggerFor]="profile">

    <mat-icon>account_circle</mat-icon><br>
  </button>
  <mat-menu #profile="matMenu">

    <button mat-menu-item [routerLink]="['/dashboard/update_password']" routerLinkActive="router-link-active">
      <mat-icon>lock</mat-icon>
      <span>Update Password</span>
    </button>
    <button *ngIf="showButton" (click)="onLoggedout()" mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

</mat-toolbar>
